html {
  background-image: url('skylinebg.svg');
}

.game-canvas {
  border: 1px solid;
  margin: auto;
  display: block;
}

#splashScreen, #finishScreen, #winScreen {
  border: 2px solid black;
  height: 600px;
  margin: 0 auto;
  text-align:center;
  width:500px;
 }

 #splashScreen {
   background-image: url('froggersplashScreen.svg');
 }

 #finishScreen {
   background-image: url('froggerFinishScreen.svg');
 }

 #winScreen {
    background-image: url('winScreen.svg');
 }

 .start-btn, .home-btn, .try-again-btn, .win-try-again-btn, .win-home-btn{
   background-color: #e6ac22;
   border: none;
   border-radius: 10px;
   color: #000000;
   font-family: 'Coiny', cursive;
   font-size: 25px;
   height: 50px;
   text-align: center;
   width: 90px;
 }

 .start-btn {
   margin-top: 479px;
 }

 .home-btn, .try-again-btn {
   margin-top: 300px;
   margin-left: 20px;
 }

 .win-try-again-btn, .win-home-btn {
   margin-top: 500px;
   margin-left: 7px;
 }

 .win-try-again-btn {
   margin-right: 20px;
 }

 .start-btn:hover, .home-btn:hover, .try-again-btn:hover {
   background-color: #e2c791;
   border: none;
   border-radius: 10px;
   color: #000000;
   font-family: 'Coiny', cursive;
   font-size: 25px;
   height: 50px;
   text-align: center;
   width: 90px;
 }
 
img {
  width:0;
}

audio {
  display: none;
}
